body {
  background-image: url("../images/1579644.jpg");
  background-size: 100%;
  color: white;
  background-repeat: no-repeat;

}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}
 
#clear {
    margin-left: 20px;
    font-size: 20px;
    color: black;
    border-style: solid;
    width: 100px;
}

button {
    margin-top: 90px;
    margin-bottom: 90px;
    margin-right: 0px;
    margin-left: 100px;
    background-color: gold;
    border: none;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 30%;
}



